@model School.Models.Father_signin_Model

@*<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please Enter Father UserName</h4>
            </div>
            @using (Html.BeginForm("signin", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <label for="user" class="label">Father UserName</label>
            @Html.TextBoxFor(a => a.username, new { @class = " input", placeholder = "Father UserName", id = "user", type = "text" })

            <div>@Html.ValidationMessageFor(a => a.username)</div>
            <div class="group" style="text-align:center">
                <input type="submit" class="btn btn-primary" value="Sign In">
            </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@


<div class="modal fade" id="myModal1" role="alert">
    <div class="modal-dialog">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <b>Please Enter Father UserName</b>
                </h3>
            </div>
            <div class="panel-body" >
                @using (Html.BeginForm("signin", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.TextBoxFor(a => a.username, new { @class = " input form-control", @style = "margin-left: 130px;", placeholder = "Father UserName", id = "user", type = "text" })

                    <div style="text-align:center"> @Html.ValidationMessageFor(a => a.username ,"", new { @class = "label label-danger"})</div>
                    <div class="group" style="text-align:center; padding:15px">
                        <input type="submit" class="btn btn-primary" value="Sign In">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }                   
            </div>
           </div>
        </div>
    </div>

